.idea/
/config/
/vendor/
/node_modules/
# Fichiers de cache des linters
/.phplint.cache/
# Dossier de logs
/var/
# Tests et couverture
/coverage/
/.phpunit.cache/
.phpunit.result.cache
# Fichiers composer
composer.lock
composer.json