body {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    color: #000;
    text-align: center;
}

h1 {
	color: #333;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

h2 {
    font-size: 2em;
    margin-bottom: 40px;
    font-weight: 300;
    color: #333;
}

.btn {
    font-family: 'Arial', sans-serif;
    display: inline-block;
}

.db-table{
    color: #333;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.theme-button {
    margin-right: 20px;
    background-color: #101050;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a.active {

    margin-left: 20px;
    background-color: #101050;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a.active:hover {
    background-color: #AA5010;
    color: black;
}

.theme-button:hover {
    background-color: #AA5010;
    color: black;
}

/* Theme Sombre */
body.dark-theme {
    background: #333;
    color: #ffffff;
}

body.dark-theme h1,
body.dark-theme h2,
body.dark-theme .db-table {
    color: #ffffff;
}

body.dark-theme .theme-button,
body.dark-theme nav a.active {
    background-color: #AA5010;
    color: white;
}

body.dark-theme .theme-button:hover,
body.dark-theme nav a.active:hover {
    background-color: #101050;
    color: white;
}
